// Heading Color
$heading-color: #212121;

// Text Color
$text-color: #838383;

// Default Background
$bg-default:  #E0E0E0 ;

// Gray Background
$bg-gray: #f1f7f9;

// Primary Color
$pri-color:  #E0E0E0 ;

// Secondary Color
$sec-color:  #4B0082;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #eaeaea;

// Footer Color
$foo-color: #021c3c;